<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.rebrandsoftware.pgbinfoplisttest" versionCode="1" version="1.0.0">

	<name>PGB Info.plist Test</name>

    <description>
		Test edit-config additions
    </description>

    <author href="http://www.rebrandsoftware.com" email="mike@rebrandsoftware.com">
        Mike Gibson - Rebrand Software, LLC
    </author>
    
	<preference name="phonegap-version" value="cli-7.0.1" />

	<platform name="ios">
		<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="replace">
            <string>Allows users to save photos to their camera roll</string>
        </edit-config>
	</platform>
</widget>